* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    background-color: #fff;
}

.nav_logo {
    width: 20%;
}

.nav_menu {
    width: 60%;
}

.nav_menu ul {
    display: flex;
    align-items: center;
    gap: 0 30px;
    justify-content: center;
}

.nav_menu ul li a {
    color: #575757;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nav_button {
    display: flex;
    justify-content: end;
    width: 20%;
}

.nav_button button {
    padding: 12px 41px;
    background: #1D4ED8;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
}